{% extends "layout.html" %}
  {% block body %}
    <div class="section">
      <div class="columns">
        <div class="column is-3">
          <figure class="image is-square">a
            <img src="static/images/bg_grad.gif" alt="Image">
          </figure>
        </div>
        <div class="column is-9">
          <div class="content">
              <h1 class="shadows">Master of Science in Information System (with units) <span>@University of the Philippines Open University</span></h1>
              <span>JUN 2006 - MAR 2008 </span>
              <p>The Master in Information System (MIS) program is designed to provide professionals in the IT Industry with advanced training in Information System.
                The program are expected to be able to:</p>
              <p>
                Demonstrate in-depth understanding of technical concepts and ethical issues pertaining to information systems; and
                Undertake the proper design and implementation of a production-grade information systems.
            </p>
          </div>

          <div class="content">
              <h1 class="shadows">Methods of Teaching <span>@Ateneo de Naga University</span></h1>
              <span>JUN 2002 </span>
              <p>Certificates programs designed for non-education graduates or for teachers teaching not within their fields of specialization to enrich their content and professional knowledge. </p>
          </div>

          <div class="content">
              <h1 class="shadows">Bachelor of Science in Computer Science <span>@Computer Communication Development Institute - Naga City Campus</span></h1>
              <span>JUN 1995 - MAR 1999 </span>
              <p>Bachelor of Science in Computer Science (BSCS) is the study of concepts and theories, algorithmic foundation, implementation and application of information and computing solutions. </p>
          </div>

          <div class="content">
              <h1 class="shadows">Computer Programming <span>@Computer Communication Development Institute - Naga City Campus</span></h1>
              <span>JUN 1994 - MAR 1995 </span>
              <p>Computer Programming is the study of utilization of computers and computer software to plan, install, customize, operate, manage, administer and maintain information technology infrastructure. </p>
          </div>

        </div>
      </div>
    </div>

{% endblock %}
