{% extends "layout.html" %}
{% block body %}
  <div class="section">
    <div class="columns">
      <div class="column is-3">
        <figure class="image is-square">
          <img src="static/images/bg_exp.jpg" alt="Image">
        </figure>
      </div>
      <div class="column is-9">
        <div class="content">
          <h1 class="title">Computer Programmer</h1>
          <h4 class="subtitle is-4">@Gulf Automobiles & Trading Company</h4>
          <h6 class="subtitle is-6">OCT 2012 - Present</h6>
          <p>Designs and develops software systems, using structured methods of Software Development life cycle.Performs the technical assignment to
             completion according to the specifications supplied by the IT manager.Addresses and resolves technical problems.
             Provides support and technical expertise to other hardware and software related issues.
             Performs other jobs related duties as required. Understand user requirement, System analysis, database design to store information, coding and implementation of programs, testing of programs, debug of system, and deploy the system to users.
             Website maintenance, troubleshooting and updating the latest contents. Brainstorm on features finalize on the contents to be implemented, code and design the web pages, testing of the entire website, deploying of website to the Internet.</p>
        </div>
        <div class="content">
         <h1 class="title">Web Developer</h1>
         <h4 class="subtitle is-4">@Freelance</h4>
         <h2 class="subtitle is-6">JAN 2011 - DEC 2012</h2>
         <p>Creates and re-create existing websites suited to various clienteles.Web design and development.
           Search engine optimization. Uses programming languages.</p>
       </div>
        <div class="content">
         <h1 class="title">Proprietor</h1>
         <h4 class="subtitle is-4">@Screaming Tribe Computer Sales & Services</h4>
         <h2 class="subtitle is-6">JAN 2009 - OCT 2012</h2>
         <p>Plan the activities of the business.Manages its income and performs marketing task.Perform business transactions, such as accepting payment for goods or services.
           Monitor inventory of supplies at hand. Sells computer parts. Provide services to clients who seek technical troubleshooting.  </p>
        </div>

        <div class="content">
            <h1 class="title">IT Instructor</h1>
            <h4 class="subtitle is-4">@Philippine Computer Foundation College</h4>
            <h2 class="subtitle is-6">JUN 2008 - MAR 2009</h2>
            <p>Monitor the behavior of students in the academic setting in terms of absenteeism, tardiness and discipline.
              Submit a course outline that explains how the instructor will implement the course goal and objectives. Attend a faculty meeting one to two days prior to the start of the program.
              Prepare syllabus for each subject. Comply with the learning plan developed from the required curriculum of the course.
              Provide learning incentives and motivation programs to encourage students to participate more actively in classroom work as well as extracurricular activities. </p>
        </div>
        <div class="content">
            <h1 class="title">IT Instructor/Academic Affairs Coordinator</h1>
            <h4 class="subtitle is-4">@Computer Communication Development Insitute - Goa Campus</h4>
            <h2 class="subtitle is-6">JUN 2000 - MAR 2010 </h2>
            <p>Coordinates faculty review and selection of textbooks. Recommends the purchase of library acquisitions.
              Develop and monitor curriculum and course schedules. Prepare academic documents for TESDA requirements. Reviewing admission applicants and maintaining administrative records related to the students.
              Administering the cognitive assessments and creating individualized programs Training and supporting the teaching staff on daily and an ongoing basis Coordinating the different departments of the institute in order to ensure that educational department receives the support needed to work effectively.</p>
        </div>
        <div class="content">
            <h1 class="title">IT Instructor</h1>
            <h4 class="subtitle is-4">@Computer Communication Development Insitute - Naga Campus</h4>
            <h2 class="subtitle is-6">JUN 1999 - MAR 2010 </h2>
            <p>Implement instructional activities that contribute to a climate where students are actively engaged in meaningful learning experiences. 
              Identifies, selects, and modifies instructional resources to meet the needs of the students with varying backgrounds, learning styles, and special needs.
              Provides a positive environment in which students are encouraged to be actively engaged in the learning process.
              Communicates effectively, both orally and in writing, with students, parents, and other professionals on a regular basis.
              Organizes and participates in training and presentations about online teaching. Meets professional obligations through efficient work habits such as: meeting deadlines, honoring schedules, coordinating.  </p>
        </div>
        <div class="content">
            <h1 class="title">Encoder/Programmer</h1>
            <h4 class="subtitle is-4">@Camarines Sur II Electric Cooperative</h4>
            <h6 class="subtitle is-6">JAN 1994 - OCT 1995 </h6>
            <p>Responsible for reading, interpreting and inputting documents, bills, accounts payable and other such documentation.
              Compiling, sorting and verifying information. Storing and/or filing the information. </p>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
