{% extends "layout.html" %}
  {% block body %}
    <div class="section">
      <div class="columns">
        <div class="column is-3">
          <figure class="image is-square">
            <img src="static/images/bg_expe.jpg" alt="Image">
          </figure>
        </div>
        <div class="column is-9">
          <h1 class="shadows">HTML/CSS</h1>
          <p>HTML5, CSS3, Bootstrap, Semantic, Foundation, Material/Materializecss, Less, Sass</p>
          </br>
          <h1 class="shadows">Javascript</h1>
          <p>Angular, Express, Vue, React, Ractive, MEAN, jQuery</p>
          </br>
          <h1 class="shadows">Back-End Language</h1>
          <p>Node.js, Python, Php, Ruby, Go, Java, Scala</p>
          </br>
          <h1 class="shadows">Database & Web Storage</h1>
          <p>PostgreSql, SQL Server, Oracle, Mysql, MongoDB, SQlite</p>
          </br>
          <h1 class="shadows">HTTP & REST</h1>
          <p>Http protocol, WebSocket, RESTfull API POST/GET request, Chrome DevTools, SSL Certificates.</p>
          </br>
          <h1 class="shadows">Web Application Architecture</h1>
          <p>MVC, CRUD, Openshift, Heroku</p>
          </br>
          <h1 class="shadows">Version Control System</h1>
          <p>Git, Github</p>
          </br>
          <h1 class="shadows">Basic Algorithm & Data Structure </h1>
          <p>Hash tables, Object, Class, Array, Caching, Binary, Queues, Stacks</p>
          </br>
          <h1 class="shadows">Web Server </h1>
          <p>Apache, nginx, IIS</p>
          </br>
          <h1 class="shadows">Operating System </h1>
          <p>Debian, Elementary, Ubuntu, Redhat, Fedora, Windows Server 2012, Windows 7,8,10</p>

        </div>
      </div>
    </div>

{% endblock %}
