<img class="ui medium circular image" src="/static/images/20140420_141216.jpg">
<h3>HILARIO</h3>
<h2>VILLAR</h2>
<p>Hi, I'm a full-stack developer specialized in php, python and nodejs from front-end to back-end. Knowledgeable in all steps from concept to finished product; proficient in server, network, and hosting environment, relational and nonrelational database. Understand how to interact with APIs and the external world, user interface and user experience, quality assurance, security concerns throughout the program, understanding customer and business needs.</p>
<div class="scroll-icon">
  <p>Jump into the last slide</p>
  <a href="#fifthSection/1" class="icon-up-open-big"></a>
</div>
