<div class="columns">
  <div class="column is-3">
    <div class="card">
      <div class="card-image">
        <figure class="image is-4by3">
          <img src="static/images/20140420_141216.jpg" alt="Image">
        </figure>
      </div>
      <div class="card-content">
        <div class="media">
          <div class="media-content">
            <p class="title is-4">Full-Stack Dev</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="column is-6">
    <div class="content">
        <h1 class="shadows">Hello,</h1>
        <p>I'm a full-stack developer specialized in php, python and nodejs from front-end to back-end. Knowledgeable in all steps from concept to finished product; proficient in server, network, and hosting environment, relational and nonrelational database. Understand how to interact with APIs and the external world, user interface and user experience, quality assurance, security concerns throughout the program, understanding customer and business needs.</p>
        <a class="button is-success">My CV</a>
    </div>
  </div>


  <div class="column is-2">
    <div class="columns">
      <div class="column">
        <span class="icon is-small"><i class="fa fa-phone"></i></span>
      </div>
      <div class="column is-11">
        <div class="content is-small">
          <div>(974)-33669071</div>
          <div>mobile</div>
          <div>(974)-44600656</div>
          <div>work</div>
        </div>
      </div>
    </div>
    <div class="columns">
      <div class="column">
          <span class="icon is-small"><i class="fa fa-envelope"></i></span>
      </div>
      <div class="column is-11">
        <div class="content is-small">
          <div><a href="mailto:tribo.ni.eila@gmail.com">tribo.ni.eila@gmail.com</a></div>
          <div>personal</div>
          <div><a href="mailto:hilario.it@darwish-tgd.qa">hilario.it@darwish-tgd.qa</a></div>
          <div>work</div>
        </div>
      </div>
    </div>
    <div class="columns">
      <div class="column">
          <span class="icon is-small"><i class="fa fa-home"></i></span>
      </div>
      <div class="column is-11">
        <div class="content is-small">
          <div>#86 Abu Hamour</div>
          <div>Doha, Qatar.</div>
          <div>current</div>
        </div>
      </div>
    </div>

  </div>


</div>
<div class="columns">
  <div class="column">
    <h4>Professional Skills </h4>
    <div class="uk-progress">
      <div class="uk-progress-bar" style="width: 95%;">HTML/CSS</div>
    </div>
    <div class="uk-progress">
      <div class="uk-progress-bar" style="width: 95%;">Javascript</div>
    </div>
    <div class="uk-progress">
      <div class="uk-progress-bar" style="width: 95%;">Back-End Language</div>
    </div>
    <div class="uk-progress">
      <div class="uk-progress-bar" style="width: 95%;">Database & Web Storage</div>
    </div>
    <div class="uk-progress">
      <div class="uk-progress-bar" style="width: 95%;">HTTP & REST</div>
    </div>
    <div class="uk-progress">
      <div class="uk-progress-bar" style="width: 93%;">Web Application Architecture</div>
    </div>
    <div class="uk-progress">
      <div class="uk-progress-bar" style="width: 90%;">Version Control System</div>
    </div>
    <div class="uk-progress">
      <div class="uk-progress-bar" style="width: 90%;">Algorithm & Data Structure</div>
    </div>
    <div class="uk-progress">
      <div class="uk-progress-bar" style="width: 90%;">Web Server</div>
    </div>
    <div class="uk-progress">
      <div class="uk-progress-bar" style="width: 90%;">Operating System</div>
    </div>
  </div>


</div>
