<div class="columns">
  <div class="column is-3">
    <div class="card">
      <div class="card-image">
        <figure class="image is-4by3">
          <img src="static/images/20140420_141216.jpg" alt="Image">
        </figure>
      </div>
      <div class="card-content">
        <div class="media">
          <div class="media-content">
            <p class="title is-4">Full-Stack Dev</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="column is-6">
    <div class="content">
        <h1 class="shadows">Hello,</h1>
        <p>I'm a full-stack developer specialized in php, python and nodejs from front-end to back-end. Knowledgeable in all steps from concept to finished product; proficient in server, network, and hosting environment, relational and nonrelational database. Understand how to interact with APIs and the external world, user interface and user experience, quality assurance, security concerns throughout the program, understanding customer and business needs.</p>
        <a class="button is-success">My CV</a>
    </div>
  </div>
  <div class="column is-3">
    <div class="columns is-mobile ">
      <div class="column">
        <span class="icon is-small"><i class="fa fa-phone"></i></span>
      </div>
      <div class="column is-11">
        <div class="content is-small">
          <div>(974)-33669071</div>
          <div>mobile</div>
          <div>(974)-44600656</div>
          <div>work</div>
        </div>
      </div>
    </div>
    <div class="columns is-mobile">
      <div class="column">
          <span class="icon is-small"><i class="fa fa-envelope"></i></span>
      </div>
      <div class="column is-11">
        <div class="content is-small">
          <div><a href="mailto:tribo.ni.eila@gmail.com">tribo.ni.eila@gmail.com</a></div>
          <div>personal</div>
          <div><a href="mailto:hilario.it@darwish-tgd.qa">hilario.it@darwish-tgd.qa</a></div>
          <div>work</div>
        </div>
      </div>
    </div>
    <div class="columns is-mobile">
      <div class="column">
          <span class="icon is-small"><i class="fa fa-home"></i></span>
      </div>
      <div class="column is-11">
        <div class="content is-small">
          <div>#86 Abu Hamour</div>
          <div>Doha, Qatar.</div>
          <div>current</div>
        </div>
      </div>
    </div>

  </div>
</div>
<div class="columns">
  <div class="column">
    <div id="progress-bar">
    <div class="box">
      <article class="media">
        <div class="media-content">


          <h4>Professional Skills </h4>
          <ul class="skill-list">
            <li class="skill">
              <h5>HTML/CSS</h5>
              <progress class="skill-1" max="100" value="95">
                <strong>Skill Level: 95%</strong>
              </progress>
            </li>
            <li class="skill">
              <h5>JavaScript</h5>
              <progress class="skill-2" max="100" value="93">
                <strong>Skill Level: 93%</strong>
              </progress>
            </li>
            <li class="skill">
              <h5>Back-End Language</h5>
              <progress class="skill-3" max="100" value="96">
                <strong>Skill Level: 96%</strong>
              </progress>
            </li>
            <li class="skill">
              <h5>Database & Web Storage</h5>
              <progress class="skill-4" max="100" value="95">
                <strong>Skill Level: 95%</strong>
              </progress>
            </li>
            <li class="skill">
              <h5>HTTP & REST</h5>
              <progress class="skill-5" max="100" value="93">
                <strong>Skill Level: 93%</strong>
              </progress>
            </li>
            <li class="skill">
              <h5>Web Application Architecture</h5>
              <progress class="skill-6" max="100" value="93">
                <strong>Skill Level: 93%</strong>
              </progress>
            </li>
            <li class="skill">
              <h5>Version Control System</h5>
              <progress class="skill-7" max="100" value="90">
                <strong>Skill Level: 90%</strong>
              </progress>
            </li>
            <li class="skill">
              <h5>Algorithm & Data Structure</h5>
              <progress class="skill-8" max="100" value="92">
                <strong>Skill Level: 92%</strong>
              </progress>
            </li>
            <li class="skill">
              <h5>Web Server</h5>
              <progress class="skill-9" max="100" value="90">
                <strong>Skill Level: 90%</strong>
              </progress>
            </li>
            <li class="skill">
              <h5>Operating System</h5>
              <progress class="skill-10" max="100" value="93">
                <strong>Skill Level: 93%</strong>
              </progress>
            </li>
          </ul>
        </div>
        </div>
      </article>
    </div>
  </div>
</div>
