{% extends "layout.html" %}
{% block body %}
  <div id="fullpage">
    <section class="vertical-scrolling" id="section0">
      {% include 'home.html' %}
    </section>
    <section class="vertical-scrolling" id="section1">
      {% include 'experience.html' %}
    </section>
    <section class="vertical-scrolling" id="section2">
      {% include 'expertise.html' %}
    </section>
    <section class="vertical-scrolling" id="section3">
      {% include 'projects.html' %}
    </section>
    <section class="vertical-scrolling" id="section3">
      <div class="horizontal-scrolling" id="section4">
        <h2>fullPage.js</h2>
        <h3>This is the fifth section and it contains the first slide (actually section == first slide)</h3>
      </div>
      <div class="horizontal-scrolling">
        <h2>fullPage.js</h2>
        <h3>This is the second slide</h3>
        <p class="end">Thank you!</p>
      </div>
    </section>
  </div>
{% endblock %}
