<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>CV | HILARIO B. VILLAR</title>

    <!-- css files -->
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/bulma.css') }}">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/font-awesome.min.css') }}">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/style.css') }}">
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <![endif]-->

  </head>
  <body>

    <div class="columns">
        <nav class="navbar">
          <div class="navbar-brand">
            <a class="navbar-item" href="/" id="head">Hilario Villar</a>
            <div class="navbar-burger burger" data-target="navMenuTransparentExample">
              <span></span>
              <span></span>
              <span></span>
            </div>
          </div>

          <div id="navMenuTransparentExample" class="navbar-menu">
            <div class="navbar-end">
              <a class="navbar-item mnu" href="/">Home</a>
              <a class="navbar-item mnu" href="/">Cover</a>
              <a class="navbar-item mnu" href="/experience">Experience</a>
              <a class="navbar-item mnu" href="/projects">Projects</a>
              <a class="navbar-item mnu" href="/expertise">Expertise</a>
              <a class="navbar-item mnu" href="/expertise">Education</a>
              <a class="navbar-item mnu" href="/">Contact</a>
            </div>
          </div>
        </nav>
    </div>

    <div class="container">


      {% block body %}{% endblock %}

      <footer class="footer">
        <div class="container">
          <div class="content has-text-centered">
              <a href="https://www.openshift.com/"><img src="static/images/powered_by_openshift.png" class="responsive-img" alt=""></a>
              <a href="https://github.com/tribonieila"><img src="static/images/Github.png" width="32" height="32" class="responsive-img tooltipped" data-position="top" data-delay="70" data-tooltip="Github" alt=""></a>
              <a href="https://github.com/tribonieila"><img src="static/images/Facebook.png" width="32" height="32" class="responsive-img tooltipped" data-position="top" data-delay="70" data-tooltip="Facebook" alt=""></a>
              <a href="https://github.com/tribonieila"><img src="static/images/Google+.png" width="32" height="32" class="responsive-img tooltipped" data-position="top" data-delay="70" data-tooltip="Google+" alt=""></a>
              <a href="https://github.com/tribonieila"><img src="static/images/Instagram.png" width="32" height="32" class="responsive-img tooltipped" data-position="top" data-delay="70" data-tooltip="Instagram"alt=""></a>
              <a href="https://github.com/tribonieila"><img src="static/images/Twitter.png" width="32" height="32" class="responsive-img tooltipped" data-position="top" data-delay="70" data-tooltip="Twitter" alt=""></a>
              <a href="https://github.com/tribonieila"><img src="static/images/Linkedin.png" width="32" height="32" class="responsive-img tooltipped" data-position="top" data-delay="70" data-tooltip="LinkedIn" alt=""></a>
          </div>
        </div>

      </footer>
    </div>

    <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="  crossorigin="anonymous"></script>
    <script>
    document.addEventListener('DOMContentLoaded', function () {

      // Get all "navbar-burger" elements
      var $navbarBurgers = Array.prototype.slice.call(document.querySelectorAll('.navbar-burger'), 0);

      // Check if there are any nav burgers
      if ($navbarBurgers.length > 0) {

        // Add a click event on each of them
        $navbarBurgers.forEach(function ($el) {
          $el.addEventListener('click', () => {

            // Get the target from the "data-target" attribute
            var target = $el.dataset.target;
            var $target = document.getElementById(target);

            // Toggle the class on both the "navbar-burger" and the "navbar-menu"
            $el.classList.toggle('is-active');
            $target.classList.toggle('is-active');

          });
        });
      }

    });
    </script>

  </body>
</html>
