{% extends "layout.html" %}
{% block body %}
  <nav class="level">
    <div class="level-left">
      <a class="button fil-cat" data-rel="all">All</a>
      <a class="button fil-cat" data-rel="fleet">FLEET</a>
      <a class="button fil-cat" data-rel="gatco">GATCO</a>
      <a class="button fil-cat" data-rel="hrm">HRM</a>
      <a class="button fil-cat" data-rel="indx">IND-X</a>
      <a class="button fil-cat" data-rel="ngo">NGO</a>
      <a class="button fil-cat" data-rel="pharma">PHARMA</a>
      <a class="button fil-cat" data-rel="self">SELFHEALTH</a>
      <a class="button fil-cat" data-rel="oragon">OTHERS</a>
    </div>
  </nav>

<div id="portfolio">
  <div class="tile scale-anm hrm all">
    <img src="static/images/projects/hrm/Capture1.JPG"/>
  </div>
  <div class="tile scale-anm hrm all">
    <img src="static/images/projects/hrm/Capture2.JPG"/>
  </div>
  <div class="tile scale-anm hrm all">
    <img src="static/images/projects/hrm/Capture3.JPG"/>
  </div>
  <div class="tile scale-anm hrm all">
    <img src="static/images/projects/hrm/Capture5.JPG"/>
  </div>
  <div class="tile scale-anm hrm all">
    <img src="static/images/projects/hrm/Capture4.JPG"/>
  </div>
  <div class="tile scale-anm hrm all">
    <img src="static/images/projects/hrm/Capture6.JPG"/>
  </div>
  <div class="tile scale-anm hrm all">
    <img src="static/images/projects/hrm/Capture7.JPG"/>
  </div>
  <div class="tile scale-anm hrm all">
    <img src="static/images/projects/hrm/Capture8.JPG"/>
  </div>
  <div class="tile scale-anm hrm all">
    <img src="static/images/projects/hrm/Capture9.JPG"/>
  </div>
  <div class="tile scale-anm hrm all">
    <img src="static/images/projects/hrm/Capture10.JPG"/>
  </div>

  <div class="tile scale-anm indx all">
    <img src="static/images/projects/ind-x/ind-x-index.JPG"/>
  </div>
  <div class="tile scale-anm indx all">
    <img src="static/images/projects/ind-x/ind-x-services.JPG"/>
  </div>

  <div class="tile scale-anm indx all">
    <img src="static/images/projects/ind-x/ind-x-firm.jpg"/>
  </div>
  <div class="tile scale-anm indx all">
    <img src="static/images/projects/ind-x/ind-x-research.jpg"/>
  </div>
  <div class="tile scale-anm indx all">
    <img src="static/images/projects/ind-x/ind-x-careers.jpg"/>
  </div>
  <div class="tile scale-anm indx all">
    <img src="static/images/projects/ind-x/ind-x-login.jpg"/>
  </div>

  <div class="tile scale-anm ngo all">
    <img src="static/images/projects/ngo/img1.JPG"/>
  </div>
  <div class="tile scale-anm ngo all">
    <img src="static/images/projects/ngo/img2.JPG"/>
  </div>

  <div class="tile scale-anm pharma all">
    <img src="static/images/projects/pharma/pharma-buyers-guide.JPG"/>
  </div>
  <div class="tile scale-anm pharma all">
    <img src="static/images/projects/pharma/pharma-company.JPG"/>
  </div>
  <div class="tile scale-anm pharma all">
    <img src="static/images/projects/pharma/pharma-contact.JPG"/>
  </div>
  <div class="tile scale-anm pharma all">
    <img src="static/images/projects/pharma/pharma-direct-mail.JPG"/>
  </div>
  <div class="tile scale-anm pharma all">
    <img src="static/images/projects/pharma/pharma-drug-manf.JPG"/>
  </div>
  <div class="tile scale-anm pharma all">
    <img src="static/images/projects/pharma/pharma-drug-solution.jpg"/>
  </div>
  <div class="tile scale-anm pharma all">
    <img src="static/images/projects/pharma/pharma-index-1.JPG"/>
  </div>
  <div class="tile scale-anm pharma all">
    <img src="static/images/projects/pharma/pharma-index.jpg"/>
  </div>
  <div class="tile scale-anm pharma all">
    <img src="static/images/projects/pharma/pharma-news-letter.JPG"/>
  </div>

  <div class="tile scale-anm self all">
    <img src="static/images/projects/selfhealth/Capture1.JPG"/>
  </div>
  <div class="tile scale-anm self all">
    <img src="static/images/projects/selfhealth/Capture2.jpg"/>
  </div>

  <div class="title scale-anm oragon all">
    <img src="static/images/projects/oragon_template.png"/>
  </div>
  <div class="title scale-anm oragon all">
    <img src="static/images/projects/oragon-ver-2.jpg"/>
  </div>
  <div class="title scale-anm oragon all">
    <img src="static/images/projects/oragon-ver-3.JPG"/>
  </div>
  <div class="title scale-anm oragon all">
    <img src="static/images/projects/wordpress.png"/>
  </div>
  <div class="title scale-anm oragon all">
    <img src="static/images/projects/oragon-b4/Capture1.JPG"/>
  </div>
  <div class="title scale-anm oragon all">
    <img src="static/images/projects/oragon-b4/Capture2.JPG"/>
  </div>
  <div class="title scale-anm oragon all">
    <img src="static/images/projects/oragon-b4/Capture3.JPG"/>
  </div>
  <div class="title scale-anm oragon all">
    <img src="static/images/projects/oragon-b4/Capture4.JPG"/>
  </div>

</div>

{% endblock %}
